.bookshelf {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}

.pageNav {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    width: 100vw;
    height: 30px;
}

.navItem {
    margin: 0px 10px 0px;
}
